[Desktop Entry]
Name=Godot Engine
Comment=Multi-platform 2D and 3D game engine
Exec=godot %u
Icon=godot
Type=Application
Categories=Development;IDE;GameDevelopment;
StartupNotify=true
Terminal=false
Keywords=game;engine;development;2D;3D;GDScript;
